<nav class="episode-header">
  {{#previousEpisode}}
  <div class="previous episode-navigation pull-left">
    <a href="#{{url}}">
      <i class="icon-chevron-left arrow"></i>
      <time>{{date}}</time>
    </a>
  </div>
  {{/previousEpisode}}

  <section class="main">
    <h1 class="title">{{title}}</h1>
    <time datetime="{{isoRecordDate}}" class="record-date">{{recordDate}}</h1>
  </section>

  {{#nextEpisode}}
  <div class="next episode-navigation pull-right">
    <a href="#{{url}}">
      <i class="icon-chevron-right arrow"></i>
      <time>{{date}}</time>
    </a>
  </div>
  {{/nextEpisode}}
</nav>
<div class="container content">
  <div class="row">
    <section class="span6 column wrapper">
      <div id="discussions" class="content"></div>
    </section>
    <section class="span6 column wrapper">
      <div id="discussion-detail" class="content"></div>
    </section>
  </div>
</div>
